/******************************************************
Data Processing
week 7
Florinde Vessies, 10657738
LinkedViews
javascript

*******************************************************/
 /* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  margin-bottom: 0;
  max-height: 150px;
  font-size: 18px;
} 

#h1{
  font-size: 18px;
}
/*
source layout
*/
h2 {
	font: 18px sans-serif;
	 text-align: center;
	 font-weight: bold;
}

.datamaps-subunit {
  fill-opacity: 1;
}

/*
Legend layout
*/
.datamaps-legend {
    padding-bottom: 20px;
    z-index: 1001;
    position: absolute;
    top: 0px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
text below
*/
p {
	font: 13px sans-serif;
}

/*
Pie chart
*/
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc:hover{
  fill-opacity: 0.7;
}
.arc path {
  stroke: #fff;
}

/*
The text below the map
*/
#name {
  font: 15px sans-serif;
}

#source {
  font: 10px sans-serif;
  text-decoration: underline;
}

#info{
  font: 15px sans-serif;
  font-weight: bold;
}

/*
info around the pie chart
*/
#piecharttitle {
  font: 20px sans-serif;
}

#people {
  font: 15px sans-serif;
  fill: #2c2c2c;
}

.ages {
  font: 10px sans-serif;
}

#nodata {
  font: 20px sans-serif;
}
/*
Tooltip for the Pie chart
*/
#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#slider {
  position: fixed;
  bottom: 20px;
}

.row
{
    width: 960px;
    height: auto;
    margin:0;
    padding:0;
    border: 0;
}

#piechart{
    position: relative;
    width: 290px;
    float: right;
}

#scatterplot{
    position: relative;
    width: 290px;
    float: left;
}

#infotext
{
    width: auto;
    float: left;
}

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

/*
Tooltip for the scatterplot
*/
.tooltip {
  position: fixed;
  width: 200px;
  height: 28px;
  pointer-events: none;
}