/******************************************************
Data Processing
week 7
Florinde Vessies, 10657738
LinkedViews
javascript

*******************************************************/
 /* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  margin-bottom: 0;
  max-height: 150px;
  font-size: 18px;
} 

#h1{
  font-size: 18px;
}
/*
source layout
*/
h2 {
	font: 18px sans-serif;
	 text-align: center;
	 font-weight: bold;
}

.datamaps-subunit {
  fill-opacity: 1;
}

/*
Legend layout
*/
.datamaps-legend {
    padding-bottom: 20px;
    z-index: 1001;
    position: absolute;
    top: 0px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
Pie chart
*/
.piearc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.piearc:hover{
  fill-opacity: 0.7;
}
.piearc path {
  stroke: #fff;
}

/*
The text below the map
*/
#name {
  font: 15px sans-serif;
}

#source {
  font: 10px sans-serif;
  text-decoration: underline;
}

#info{
  font: 15px sans-serif;
  font-weight: bold;
}

/*
info around the pie chart
*/
#piecharttitle {
  font: 20px sans-serif;
}

#people {
  font: 15px sans-serif;
  fill: #2c2c2c;
}

#nodata {
  font: 12px sans-serif;
  text-align: left;
}
/*
Tooltip for the Pie chart
*/
#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}
#tooltip.hidden {
    opacity: 0;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#slider {
  bottom: 20px;
}

.row {
    width: 960px;
    height: auto;
    margin:0;
    padding:0;
    border: 0;
}

#piechart{
    position: relative;
}

#scatterplot{
    position: relative;
}

#sunburst{
    position: relative;
}

#infotext
{
    position: relative;
}

/*
scatterplot layout
*/
.tooltip {
  position: relative;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

/*text {
    stroke: none;
    font-size: .9em;
    font:sans-serif;
}*/

g.y.axis {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

g.x.axis {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.node {
    cursor:pointer;
}

text {
  font-family: "Oswald",Helvetica,sans-serif;
  font-size: 12px;
  font-weight:400;
}
text[depth="0"][root="3"],text[depth="0"][root="2"],text[depth="0"][root="4"],text[depth="1"][root="3"],text[depth="1"][root="4"],text[depth="2"][root="4"],text[depth="0"][root="1"],text[depth="1"][root="2"],text[depth="2"][root="3"],text[depth="3"][root="4"] {
  opacity:0 !important;
  font-size:.5px !important;
}
text[depth="2"][root="0"] {
  font-size:10px !important;
}
text[depth="2"][root="1"] {
  font-size:11px !important;
}
g:hover, g text:hover{
  cursor:pointer;
}
text[depth="0"] {
  font-size: 20px !important;
}
text.isCenter,text[depth="0"][root="0"] {
/*  transform:rotate(0) !important;*/
  font-family:"Oswald",Helvetica, sans-serif !important;
  font-weight:700;
}
text[depth="4"] {
  fill:#eee;
}
text.isCenter, text[root="2"], text[root="3"] {
  font-size:15px;
}
text[depth="1"][root="0"] {
  font-size:11px;
}
text[depth="1"][root="this"] {
  font-size:12px;
}
text[root="1"][depth="4"] {
  font-size: 7px;
}
text[root="2"][depth="4"] {
  font-size:11px;
}
text[root="3"][depth="4"] {
  font-size:14px;
}

/*footer {
  background-color: #f2f2f2;
  padding: 25px;
}*/

footer {
   bottom:0;
   margin:0;
   width:100%;
   height:60px;
  background-color: #f2f2f2
}
