/******************************************************
Programmeerproject
Florinde Vessies, 10657738
CO2 emissions and urbanization
css of slider. based on:
Bostock's slider brush: http://bl.ocks.org/mbostock/6452972

*******************************************************/

p {
  color: white;
  margin: 50px;
}

a {
  color: #4FDEF2;
}

.axis {
  fill: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: white;
  stroke-width: 4px;
  stroke-linecap: round;
  font-family: sans-serif;
}

.slider .handle path {
  stroke: black;
  stroke-width: 2.5px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: white;
  text-align: center;
  font-size: 16px;
}